@import url(http://fonts.googleapis.com/css?family=Nosifer);
@import url(http://fonts.googleapis.com/css?family=Wallpoet);

body{
    background: white;
    width: 100%;
    height: 100%;
}

.boarder {
    position: absolute;
    /*
    left: 170px;
    width: 1200px;
    height: 600px;
    */
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    
    background: black;
}
.textbox{
    position: absolute;
    top: 12%;
    left: 7%;
    width: 86%;
    height: 76%;
    background: white;
    
}




.title_game {
    color: #0000FF;
    line-height: 40px;
    font-family: 'Nosifer';
    
}
.creators {
    color: #00FFFF;
    line-height: 0px;
    font-family: 'Wallpoet'
}
